* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.section {
    min-height: 100vh;
    padding: 30px 40px;
}

/* NAV */
header {
    padding: 35px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e3dddd;
    border-bottom: 1px solid #e3dddd;
    padding: 12px 0;
}

.nav_list {
    display: inline-flex;
    gap: 25px;
    list-style: none;
    margin-right: -75px;
}

.nav_item, .nav_link {
    text-decoration: none;
    color: #000;
}

.slash {
    color: #e3dddd;
}

.nav_name_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_date {
    margin-bottom: -4px;
    color: #888;
}

.nav_name_img {
    width: 39px;
    height: 40px;
}
.nav_img {
    width: 80px;
    height: 40px;
}
/* END - NAV */

/* HERO */
.hero {
}
.hero_text {
    text-align: end;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 70px;

}
.hero_title {
    font-size: 13rem;
    font-weight: bolder;
    color: #000000;
    font-family: 'poppins', sans-serif;
    text-shadow: 3px 0 currentColor, -2px 0 currentColor;
    line-height: 0.7;
}
.hero_subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
    font-family: 'poppins', sans-serif;

}
.socials {
    margin-left: 15px;
    margin-top: 40px;
}
.social_link {
    text-decoration: none;
    border: 1px solid #000000;
    padding: 15px;
    margin-left: -6px;
    border-radius: 50%;
    color: #000000;
    font-size: 1.2rem;
}

.hero_border {
    border-bottom: 1px solid #e3dddd;;
    width: 32%;
    margin-left: 200px;
    margin-top: -10px;
}

.bottom_text {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    text-align: end;
    width: 45%;
}
.bottom_text_numbers {
    font-size: 4.5rem;
    font-weight: 700;
    color: #000000;
    font-style: italic;
}
.plus_symbol {
    font-size: 2.5rem;
    color: #000000;
    position: relative;
    top: -30px;
}
.bottom_text_description {
    line-height: 1.5;
}
/* HOVERS & EFFECTS */
/* navigation */
.nav_logo_link:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;

}

.hover-underline {
    font-size: 1rem;
    color: #000000;
    position: relative;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff9100, #ffea00);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}
/* end - navigation*/

/* hero */
.social_link {
    transition: all 0.3s ease;
}
.social_link:nth-child(1):hover {
    background-color: #FFD700;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.4);
}
.social_link:nth-child(2):hover {
    background-color: #FFA500;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(255, 165, 0, 0.4);
}
.social_link:nth-child(3):hover {
    background-color: #FF8C00;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(255, 140, 0, 0.4);
}
.social_link:nth-child(4):hover {
    background-color: #FF6B00;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(255, 107, 0, 0.4);
}
